<section class="phx-hero">
  <p><br>Find out if you are going to need wellies in your town!<br/></p>
</section>

<section>
  <form action="/weather" method="get" enctype="text/plain">
    <input type='text' placeholder='Search...' id='search-text-input' name='city'/>
  </form>
</section>
