<section class="phx-hero">
  <p><br>Find out if you are going to need wellies in your town!<br/></p>
</section>
<div class='flex'>
  <input class='margin-small' type='text' placeholder='Search...' id='city'>
  <button type='button' id='search'>Search</button>
</div>

<div id="result">
  <ul id='locationsList'></ul>
</div>
